ul.posts {
  margin-top: 4em;
  padding: 0;
  list-style: none;

  .pubDate {
    color: var(--color-text-secondary);
    font-size: 0.9em;
    text-transform: uppercase;

    &:after {
      margin: 0 .5rem;
      content: "—";
    }
  }

  li {
    content-visibility: auto;
  }

  & > li + li {
    margin-top: 3rem;
    padding-top: 3rem;
  }

  .episode-title {
    margin: 0.2em 0 1rem 0;
    display: flex;
    align-items: center;
    color: var(--color-heading);
    font-size: max(1.8rem, 1.8cqw);
    font-weight: normal;
    letter-spacing: -0.03em;
    text-wrap: balance;

    .episode-cover {
      align-self: center;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.3em;
      background-color: var(--color-text);

      img {
        float: left;
        width: max(4rem, 4.5cqw);
        height: max(4rem, 4.5cqw);
        border: 0.1em solid var(--color-text);
        
        &[src="logo-drig.svg"] {
          border-width: 0;
        }
      }
    }
  }

  p {
    margin: 0;
    columns: 2 20em;
    column-gap: 4em;
    column-rule: 1px solid #ccc;
    line-height: 1.4em;
  }

  .player {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    audio {
      width: 100%;
      max-width: 30rem;
    }

    span {
      color: var(--color-text-secondary);
      font-size: .9em;
      flex-shrink: 0;
    }
  }
}



@media (max-width: 50em) {
  ul.posts h2 {
    font-size: 1.5em;
  }
}
